<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sistem Informasi SKependudukan</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}"></link>
        
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{http://cdn.datatables.net/1.10.16/js/jquery.dataTables.js}"></script>
   	<script>
   			$(document).ready( function () {
   		    	$('#table').DataTable();
   			} );
   	</script>
  </head>
  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistem Informasi Kependudukan</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/penduduk/cari">Cari Data</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
	<div class="jumbotron">
		<div class="container">
			<h1>SIDUK JAKARTA</h1>
	    	<p>Selamat Datang di Sistem Informasi Kependudukan Provinsi DKI Jakarta</p>
	    	<div class="row">
	    		<div class="col-md-6">
	    			<div class="row center">
						<div class="col-sm-4"><a class="btn btn-default" href="/penduduk/tambah">Tambah Penduduk</a></div>
						<div class="col-sm-4"><a class="btn btn-default" href="/keluarga/tambah">Tambah Keluarga</a></div>
						<div class="col-sm-4"><a class="btn btn-default" href="penduduk/cari">Penduduk Kelurahan</a></div>
					</div>
	    		</div>
	    		<div class="col-md-6"></div>
	    	</div>
		</div>
	</div>
	
	<section>
		<div class="container">
			<hr class="divider"></hr>
			
			<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
			<p><strong>Masukkan Nomor Induk Kependudukan</strong></p>
			<form action="/penduduk" method="get">
				<div class="input-group">
			      <input type="text" class="form-control" name="nik" placeholder="Masukkan NIK"></input>
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Lihat</button>
			      </span>
			    </div><!-- /input-group -->
			</form>
			
			<hr class="divider"></hr>
			
			<h3>Lihat Data Keluarga Berdasarkan NKK</h3>
			<p><strong>Masukkan Nomor Kartu Keluarga</strong></p>
			<form action="/keluarga" method="get">
				<div class="input-group">
			      <input type="text" class="form-control" name="nkk" placeholder="Masukkan NKK"></input>
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Lihat</button>
			      </span>
			    </div><!-- /input-group -->
			</form>
			
			<hr class="divider"></hr>
			
			<hr class="divider"></hr>
			<h3>Statistik Kependudukan</h3>
			<div class="row center">
				<div class="col-md-4"><p>Jumlah Penduduk : </p><h1 th:text="${jumlah_penduduk}">Jumlah Penduduk</h1></div>
				<div class="col-md-4"><p>Jumlah Keluarga : </p><h1 th:text="${jumlah_keluarga}">Jumlah Keluarga</h1></div>
				<div class="col-md-4"><p>Rasio Penduduk/Keluarga : </p><h1 th:text="${rasio}">Rasio Penduduk/Keluarga</h1></div>
			</div>
			<br></br>
			<table id="table" class="display">
				<thead>
				   <tr>
				       <th>Kota </th>
				       <th>Jumlah Penduduk </th>
				       <th>Jumlah Keluarga </th>
				   </tr>
				</thead>
				<tbody>
				       <tr>
				         <td>Kabupaten Kepulauan Seribu</td>
				         <td th:text="${kepulauan_seribu.jumlah_penduduk}"></td>
				         <td th:text="${kepulauan_seribu.jumlah_keluarga}"></td>
				       </tr>
				       <tr>
				         <td>Kota Jakarta Selatan</td>
				         <td th:text="${jakarta_selatan.jumlah_penduduk}"></td>
				         <td th:text="${jakarta_selatan.jumlah_keluarga}"></td>
				       </tr>
				       <tr>
				         <td>Kota Jakarta Timur</td>
				         <td th:text="${jakarta_timur.jumlah_penduduk}"></td>
				         <td th:text="${jakarta_timur.jumlah_keluarga}"></td>
				       </tr>
				       <tr>
				         <td>Kota Jakarta Pusat</td>
				         <td th:text="${jakarta_pusat.jumlah_penduduk}"></td>
				         <td th:text="${jakarta_pusat.jumlah_keluarga}"></td>
				       </tr>
				       <tr>
				         <td>Kota Jakarta Barat</td>
				         <td th:text="${jakarta_barat.jumlah_penduduk}"></td>
				         <td th:text="${jakarta_barat.jumlah_keluarga}"></td>
				       </tr>
				       <tr>
				         <td>Kota Jakarta Utara</td>
				         <td th:text="${jakarta_utara.jumlah_penduduk}"></td>
				         <td th:text="${jakarta_utara.jumlah_keluarga}"></td>
				       </tr>
				</tbody>
			</table>
			
		</div>
	</section>
	
	<br></br><br></br>
    
  </body>
</html>