<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sistem Informasi Kependudukan - Cari Penduduk</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistem Informasi Kependudukan</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/penduduk/cari">Cari Data</a></li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section>
		<div class="container center">
			<br></br><br>a</br><br></br>
			<div class="row center">
				<h3 th:text="'Lihat Data Penduduk Berdasarkan Kecamatan di ' + ${kota.nama_kota}"></h3>
				
				<form action="/penduduk/cari" method="get">
				  <div class="form-group">
				    <label for="id_kota">Kota</label>
				    <select class="form-control" id="id_kota" name="kt">
				    	<option th:value="${kota.id}" th:text="${kota.nama_kota}" readonly="true">Nama Kota</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="id_kecamatan">Kecamatan</label>
				    <select class="form-control" id="id_kecamatan" name="kc">
				    	<option disabled="true">Pilih kecamatan</option>
				    	<div th:each="kecamatan, iterationStatus: ${kota.kecamatans}">
				    		<option th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}"></option>
				    	</div>
				    </select>
				  </div>
				  <button type="submit" class="btn btn-default">Tambah</button>
				</form>
			</div>
		</div>
	</section>
    
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>