<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sistem Informasi Kependudukan - Ubah Keluarga</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistem Informasi Kependudukan</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/penduduk/cari">Cari Data</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<section>
		<div class="container">
			<br></br><br></br><br></br>
			<h3>Ubah Keluarga</h3>
			
			<form th:action="'/keluarga/ubah/' + ${family.nomor_kk}" method="post">
			  <input type="hidden" class="form-control" id="id" name="id" placeholder="id" th:value="${family.id}"></input>
			  <div class="form-group">
			    <label for="alamat">Alamat</label>
			    <input type="text" class="form-control" id="alamat" name="alamat" placeholder="Alamat" th:value="${family.alamat}"></input>
			  </div>
			  <div class="form-group">
			    <label for="rt">RT</label>
			    <input type="text" class="form-control" id="rt" name="rt" placeholder="RT" th:value="${family.rt}"></input>
			  </div>
			  <div class="form-group">
			    <label for="rw">RW</label>
			    <input type="text" class="form-control" id="rw" name="rw" placeholder="RW" th:value="${family.rw}"></input>
			  </div>
			  <div class="form-group">
			    <label for="nama_kelurahan">Kelurahan/Desa</label>
			    <input type="text" class="form-control" id="nama_kelurahan" name="nama_kelurahan" placeholder="Kelurahan/Desa" th:value="${family.nama_kelurahan}"></input>
			  </div>
			  <div class="form-group">
			    <label for="nama_kecamatan">Kecamatan</label>
			    <input type="text" class="form-control" id="nama_kecamatan" name="nama_kecamatan" placeholder="Kecamatan" th:value="${family.nama_kecamatan}"></input>
			  </div>
			  <div class="form-group">
			    <label for="nama_kota">Kota</label>
			    <input type="text" class="form-control" id="nama_kota" name="nama_kota" placeholder="Kota" th:value="${family.nama_kota}"></input>
			  </div>
			  <div class="form-group">
			    <label for="is_tidak_berlaku">Status Keberlakuan</label>
			    <select class="form-control" id="is_tidak_berlaku" name="is_tidak_berlaku" th:field="${family.is_tidak_berlaku}">
			    	<option value="0">Berlaku</option>
			    	<option value="1">Tidak Berlaku</option>
			    </select>
			  </div>
			  <button type="submit" class="btn btn-default" name="action" value="Tambah">Tambah</button>
			</form>
		</div>
	</section>
    
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>